#background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("ADK.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: "#ffffff";
  }
  #backgroundColor{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.65);
  }
  #OnTop{
    position: absolute;
    z-index: 2;
  }
